@import "./themes/mocha.css";

* {
  font-size: 16px;
  font-family: "Terminess Nerd Font";
}

window#waybar {
  background: @transparent;
  border-radius: 0px;
  color: @green;
}

window#waybar.empty #window {
  background-color: transparent;
}

.modules-left {
  border-radius: 0px;
  padding: 0px 0px 0px 20px;
}

.modules-right {
  background: rgba(72, 72, 72, 0);
  border-radius: 0px;
  padding: 0px 20px 0px 0px;
  font-weight: bold;
}

.modules-center {
  background: rgba(72, 72, 72, 0);
  border-radius: 20px;
  padding: 0px 4px 0px 12px;
  font-weight: bold;
}

#window {
  color: #51ffee;
  background-color: #484848;
  font-weight: bold;
  border-radius: 5px;
  margin: 6px 0px 5px 3px;
  padding: 0px 7px 0px 7px;
  border-bottom: 4px solid #047a6f;
  border-right: 2px solid #047a6f;
  border-top: 2px solid #70e7ca;
  border-left: 1px solid #70e7ca;
}

#workspaces button {
  background-color: #030a66;
  border-radius: 5px;
  margin: 5px 2px 5px 0px;
  padding: 6px 6px 6px 6px;
  color: @text;
  font-weight: bold;
  border: 2px solid #e5004c;
}

#workspaces button.active {
  color: #ffffff;
  background: #c42b54;
  border-radius: 5px;
}

#taskbar {
  background: @surface0;
  padding: 0px 4px 1px;
}

#taskbar button {
  border-radius: 0px;
  transition: all 0.3s;
  padding: 1px 2px 0px 4px;
  margin: 0px;
  opacity: 0.3;
  background: transparent;
}

#taskbar button.active {
  background: transparent;
  opacity: 1;
}

#taskbar button:hover {
  background: @surface3;
  opacity: 0.8;
}

#tray,
#backlight,
#pulseaudio,
#battery,
#custom-cpu,
#custom-gpu {
  border-radius: 15px;
  border-right: 2px solid #047a6f;
  margin: 3px 0px 0px 1.5px;
  padding: 0px 7px 0px 7px;
  border-bottom: 4px solid #047a6f;
  border-top: 2px solid #70e7ca;
  border-left: 1px solid #70e7ca;
}
#custom-cpu {
  color: @lavender;
}
#custom-gpu {
  color: @blue;
}

#backlight,
#clock,
#pulseaudio,
#memory,
#custom-launcher,
#custom-files,
#custom-craft,
#custom-steam,
#battery {
  color: #cd003d;
  border: 2px solid #e5004c;
  margin: 5px 0px 6px 2px;
  background-color: #030a66;
  border-radius: 5px;
  padding: 0px 7px 0px 7px;
}

#clock {
  padding: 0px 7px 0px 7px;
  padding-top: 0px;
  color: #cd003d;
}

#custom-wofi {
  padding: 0px 0px 0px 4px;
  color: #cd003d;
  border: 2px solid #e5004c;
  margin: 5px 10px 5px 0px;
  background-color: #030a66;
  border-radius: 5px;
}
